*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


#heading{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 5rem;
    box-shadow: 0px 1px 4px 1px rgb(208, 200, 200);
}

#logo{
    position: relative;
    left: 60px;
    font-family: cursive;
    cursor: pointer;
}


#navBar{
    width: 50rem;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    position:  relative;
    left: 200px;
}
ul li{
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
ul li:hover{
    color: green;
}

.arrowIcon{
    width: 10px;
    height: 10px;
}

main{min-height: 0;
}


#dietitianSlotBookingSection{
    display: flex;
}



/*--------------About Dietitian-----------*/
#dietitianMainBox{
    position: relative;
    left: 25px;
    top: 30px;
    width: 28vw;
}


#aboutDietitian{
    height: 17rem;
    display: flex;
    gap: 15px;
}

#dietitianImage{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#dietitianName{
    width: 160px;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial;
}

#ratingBox{
    width: 150px;
}

#stars{
    width: 80px;
}

#qualificationOfDietitian{
    width: 200px;
    font-weight: 600;
}

#expertiseOfDietitian{
    position: relative;
    top: 15px;
    width: 15rem;
    padding: 10px;
    background-color: rgb(234, 231, 231);
}

#startingText{
    position: relative;
    top: 30px;
    color: rgb(177, 175, 175);
    font-size: x-large;
}
#sartingPrice{
    width: 200px;
    position: relative;
    top: 35px;
    font-size: x-large;
    color: green;
    font-weight: bold;
}

#sartingPrice>span{
    font-size: medium;
    font-weight: 100;
    color: rgb(177, 175, 175);
}

#priceAndMsgCoachBtn{
    position: relative;
    top: 30px;
    left: 10px;
    width: 20rem;
}

#morePricing{
    width: 8rem;
    height: 3rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
#msgBtn{
    width: 9rem;
    height: 3rem;
    border: 0;
    border-radius: 5px;
    position: relative;
    top: 10px;
    left: 25px;
    background-color: rgb(250, 126, 37);
    cursor: pointer;
}

#msgIcon{
    width: 30px;
    height: 30px;
}
#msgCoachText{
    display: inline-block;
    width: 75px;
    color: white;
    font-size: large;
}


#videoMainBox{
    position: relative;
    top: 50px;
}

#navOfVideos{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 65px;
    margin-bottom: 25px;
}

#videoGallery{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

#videoGallery div video{
    border-radius: 10px;
}
#videoGallery div p{
    width: 100px;
}


/*------------------Slot Booking and Training---------------------*/

#SlotAndTrainingMainBox{
    width: 65vw;
    position: relative;
    left: 40px;
    top: 30px;
}

#SlotBookingBox{
    height: 30rem;
    box-shadow: -1px 0px 4px 1px rgb(208, 200, 200)
}

#slotText{
    margin-top: 8px;
    text-align: center;
    color: green;
    font-weight: 600;
}

#aboutTimeZone{
    position: relative;
    top: 30px;
    left: 20px;
}

#textTimeZone{
    font-weight: bold;
}

#presentTime{
    margin-left: 10px;
}

#aboutSessions{
    border: 1px solid rgb(188, 186, 186);
    position: relative;
    top: 50px;
    left: 20px;
    padding: 10px;
    width: 312px;
    border-radius: 5px;
    cursor: pointer;
}


#aboutSessions>img{
    width: 10px;
    height: 10px;
}


#ClanderAndTimmingsBox{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    top: 60px;
    left: 20px;
}


#calender{
    width: 50%;
}

#monthAndYear{
    color: rgb(250, 126, 37);
    font-weight: bold;
    font-size: larger;
}

#leftArrow{
    position: relative;
    left: 180px;
    width: 25px;
    height: 25px;
}
#rightArrow{
    position: relative;
    left: 190px;
    transform: rotate(180deg);
    width: 25px;
    height: 25px;
}

#calenderTable{
    border: 1px solid rgb(188, 186, 186);
    width: 360px;
    height: 220px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    box-shadow: -1px 0px 4px 1px rgb(208, 200, 200);
}


#calenderTable tr:nth-child(2) td:first-child {
    color: rgb(184, 178, 178);
}
#calenderTable tr:last-child td:nth-last-child(-n+4) {
    color: rgb(184, 178, 178); 
}



#timmingsTable{
    border: 1px solid rgb(188, 186, 186);
    width: 300px;
    height: 250px;
    border-radius: 10px;
    position: relative;
    right: 30px;
    padding: 10px;
    border-spacing: 10px;
    box-shadow: -1px 0px 4px 1px rgb(208, 200, 200);
}

#timmingsTable tr:nth-child(1) td, #timmingsTable tr:nth-child(4) td{
    font-weight: 600;
}

#timmingsTable tr:not(:first-child):not(:nth-child(4)) td {
    border: 1px solid rgb(188, 186, 186);
    width: 50px;
    border-radius: 5px;
    padding: 5px;
}
#timmingsTable tr:not(:first-child):not(:nth-child(4)) td:hover{
    background-color: rgb(250, 126, 37);
    color: white;
    cursor: pointer;
    box-shadow: -1px 0px 4px 1px rgb(208, 200, 200);
}
  

/*-----------------------Training Works------------------------------*/

#trainingBox{
    background-color: rgba(239, 239, 239, 0.532);
    border-radius: 10px;
    height: 55rem;
    position: relative;
    top: 25px;
}

#trainingText{
    color: green;
    text-align: center;
    position: relative;
    top: 30px;
}

#trainingIntroQues{
    position: relative;
    top: 60px;
    padding: 0 50px;
    text-align: center;
}

#stepsOfOnlineTraining{
    position: relative;
    top: 100px;
    padding: 0 30px;
    list-style: none;
}

#stepsOfOnlineTraining li{
    margin-bottom: 30px;
    counter-increment: step-counter;
}
#stepsOfOnlineTraining li::before {
    content: counter(step-counter)".";
    background-color: rgb(250, 126, 37);
    color: white;
    padding: 2px 5px;
    border-radius: 50px;
}

#stepsOfOnlineTraining li p, h2{
    position: relative;
    left: 40px;
    bottom: 25px;
}
#stepsOfOnlineTraining li p{
    width: 800px;
}




/*---------------Testimonials----------------*/

#testimonialsSection{
    width: 99vw;
    height: 35rem;
    background-color: rgb(233, 233, 233);
    position: relative;
    top: 150px;
}

#testimonialText{
    text-align: center;
    position: relative;
    top: 20px;
}

#testimonialsSection h1{
    text-align: center;
    position: relative;
    top: 45px;
}

#reviewBox{
    background-color: rgba(255, 255, 255, 0.84);
    position: relative;
    top: 120px;
    left: 400px;
    width: 40rem;
    height: 20rem;
}

#quoteIcon{
    position: relative;
    top: 5px;
    left: 10px;
    width: 60px;
    height: 60px;
    transform: rotate(180deg);
}

#BoxForwhiteLeftArrow,#BoxForwhiteRightArrow{
    background-color: rgba(0, 128, 0, 0.993);
    width: 4rem;
    height: 4rem;
    text-align: center;
    position: relative;
    top: 60px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
#leftWhiteArrow,#rightWhiteArrow{
    position: relative;
    top: 15px;
}

#review{
    width: 34rem;
    position: relative;
    bottom: 45px;
    left: 50px;
    word-wrap: break-word;
    line-height: 25px;
}

#BoxForwhiteRightArrow{
    left: 610px;
    top: -130px;

}
#rightWhiteArrow{
    transform: rotate(180deg);
}

#nameOfReviewer{
    text-align: center;
    position: relative;
    bottom: 100px;
    font-weight: bold;
}

#fiveStarRating{
    width: 4rem;
    height: 1rem;
    position: relative;
    bottom: 100px;
    left: 285px;
}

#reviewerImage{
    width: 5rem;
    height: 6rem;
    position: relative;
    bottom: 100px;
    left: 280px;
}

#reverseQuoteIcon{
    position: relative;
    bottom: 210px;
    left: 570px;
    width: 60px;
    height: 60px;
}





/*-----------------Download App Section--------------*/

#downloadAppSection h1{
    position: relative;
    top: 280px;
    left: 60px;
    width: 22rem;
    word-spacing: 5px;
    line-height: 45px;
    font-size: xx-large;
}

#aboutApp{
    position: relative;
    top: 300px;
    left: 60px;
    width: 32rem;
}

#appLinkForDifferentOS{
    width: 26rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 350px;
    left: 60px;
}

#androidBox, #iosBox{
    background-color: black;
    width: 45%;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#playstoreIcon, #appleIcon{
    width: 40px;
    height: 45px;
    position: relative;
    top: 8px;
    left: 10px;
}

#androidBox div, #iosBox div{
    font-size: small;
    position: relative;
    bottom: 40px;
    left: 60px;
}
#androidBox h2, #iosBox h2{
    position: relative;
    bottom: 40px;
    left: 55px;
}

#phoneImage{
    width: 400px;
    height: 420px;
    position:relative;
    left: 800px;
    bottom: 50px;
}


/*--------------------------Footer------------------------------*/

footer{
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    position: relative;
    top: 20px;
}







/*----------------------------------Media Query---------------------------------------*/
/*------------------------------------------------------------------------------------*/

@media screen and (max-width: 431px) {

    #logo{
        width: 430px;
        left: 0;
        text-align: center;
        height: 50%;
        top: 25px;
    }

    #navBar{
        width: 413px;
        gap: 30px;
        left: 0px;
        top: 30px;
        padding: 0;
        white-space: nowrap;
        justify-content: flex-start;
        overflow-y: scroll;
    }
    #navBar::-webkit-scrollbar{
        display: none;
    }


    main{
        width: 430px;
        height: 4600px;
    }
    #dietitianSlotBookingSection{
        flex-direction: column;
        width: 430px;
        height: 2950px;
        position: relative;
        top: 50px;
    }




    #dietitianMainBox{
        width: 420px;
        height: 730px;
        top: 5px;
        left: 10px;
    }

    #aboutAndPriceOfDietitian{
        height: 350px;
        width: 400px;
    }

    #aboutDietitian{
        height: 17rem;
        width: 410px;
        gap: 20px;
    }
    #di

    #priceAndMsgCoachBtn{
        width: 420px;
        top: 4px;
        left: 18px;
    }

    #morePricing{
        position: relative;
        bottom: 10px;
    }
    #msgBtn{
        position: relative;
        left: 60px;
        top: 0;
    }

    #videoMainBox{
        top: 35px;
    }

    #navOfVideos{
        margin-bottom: 10px;
    }

    #videoGallery{
        gap: 8px;
    }
    #videoGallery div{
        position: relative;
        left: 4px;
    }
    #videoGallery div video{
        width: 200px;
    }
    #videoGallery div p{
        width: 170px;
    }




    #SlotAndTrainingMainBox{
        width: 420px;
        height: 2090px;
        left: 5px;
        top: 50px;
    }

    #SlotBookingBox{
        width: 420px;
        height: 660px;
    }

    #aboutTimeZone{
        width: 300px;
        left: 10px;
        top: 20px;
    }

    #aboutSessions{
        left: 10px;
        top: 25px;
    }

    #ClanderAndTimmingsBox{
        left: 10px;
        top: 40px;
        width: 410px;
    }
    
    #calenderTable{
        width: 400px;
    }
    #timmingsTable{
        top: 10px;
        right: 0px;
        width: 400px;
    }

    #trainingBox{
        height: 1350px;
        top: 50px;
    }

    #trainingText{
        top: 15px;
    }
    #trainingIntroQues{
        top: 40px;
        padding: 0 15px;
    }

    #stepsOfOnlineTraining{
        padding: 0px;
        top: 80px;
        height: 1100px;
    }

    #stepsOfOnlineTraining li h2{
        width: 370px;
        left: 35px;
    }
    #stepsOfOnlineTraining li p{
        width: 365px;
        left: 35px;
    }





    #testimonialsSection{
        width: 420px;
        height: 500px;
        top: 0px;
        left: 8px;
    }
    #reviewBox{
        width: 410px;
        top: 70px;
        left: 5px;
    }

    #quoteIcon{
       width: 50px;
       height: 50px;
       left: 5px; 
    }

    #BoxForwhiteLeftArrow{
        width: 2rem;
        height: 2.5rem;
        top: 70px;
        left: 0px;
    }

    #leftWhiteArrow{
        top: 6px;
        width: 30px;
        height: 30px;
    }

    #review{
        width: 330px;
        bottom:40px;
        left: 60px;
        line-height: 22px;
    }

    #BoxForwhiteRightArrow{
        width: 1.5rem;
        height: 2.5rem;
        left: 390px;
        top: -140px;
    }
    #rightWhiteArrow{
        top: 6px;
        left: -5px;
        width: 30px;
        height: 30px;
    }

    #nameOfReviewer{
        bottom: 60px;
    }
    #fiveStarRating{
        bottom: 60px;
        left: 170px;
    }
    #reviewerImage{
        bottom: 60px;
        left: 165px;
    }

    
    #reverseQuoteIcon{
        width: 50px;
        height: 50px;
        left: 340px;
        bottom: 200px;
    }





    #downloadAppSection{
        position: relative;
        top: 50px;
        width: 420px;
        height: 765px;
    }
    #downloadAppSection h1{
        top: 20px;
        width: 24rem;
        left: 20px;
    }
    #aboutApp{
        top: 50px;
        left: 20px;
        width: 380px;
    }
    #appLinkForDifferentOS{
        top: 80px;
        left: 15px;
        width: 390px;
    }
    #playstoreIcon, #appleIcon{
        left: 2px;
        width: 40px;
        height: 40px;
        top: 12px;
    }
    #androidBox div, #iosBox div{
        bottom: 30px;
        width: 100px;
        left: 50px;
    }
    #androidBox h2, #iosBox h2{
        position: relative;
        width: 130px;
        bottom: 30px;
        left: 45px;
    }
    #phoneImage{
        width: 320px;
        height: 350px;
        top: 100px;
        left: 60px;
    }
    footer{
        position: relative;
        top: -350px;
        left: 5px;
        width: 420px;
        height: 5rem;
    }
}






@media screen and (max-width: 415px) {

    #logo{
        width: 414px;
        left: 0;
        text-align: center;
        height: 50%;
        top: 25px;
    }

    #navBar{
        width: 413px;
        gap: 30px;
        left: 0px;
        top: 30px;
        padding: 0;
        white-space: nowrap;
        justify-content: flex-start;
        overflow-y: scroll;
    }
    #navBar::-webkit-scrollbar{
        display: none;
    }


    main{
        width: 414px;
        height: 4600px;
    }
    #dietitianSlotBookingSection{
        flex-direction: column;
        width: 414px;
        height: 2950px;
        position: relative;
        top: 50px;
    }




    #dietitianMainBox{
        width: 400px;
        height: 730px;
        top: 5px;
        left: 10px;
    }

    #aboutAndPriceOfDietitian{
        height: 338px;
        width: 390px;
    }

    #aboutDietitian{
        height: 17rem;
        width: 390px;
        gap: 20px;
    }
    #di

    #priceAndMsgCoachBtn{
        width: 414px;
        top: 4px;
        left: 18px;
    }

    #morePricing{
        position: relative;
        bottom: 10px;
    }
    #msgBtn{
        position: relative;
        left: 60px;
        top: 0;
    }

    #videoMainBox{
        top: 35px;
    }

    #navOfVideos{
        margin-bottom: 10px;
    }

    #videoGallery{
        gap: 10px;
    }
    #videoGallery div{
        position: relative;
        left: 4px;
    }
    #videoGallery div video{
        width: 190px;
    }
    #videoGallery div p{
        width: 170px;
    }




    #SlotAndTrainingMainBox{
        width: 400px;
        height: 2090px;
        left: 5px;
        top: 40px;
    }

    #SlotBookingBox{
        width: 400px;
        height: 660px;
    }

    #aboutTimeZone{
        width: 300px;
        left: 10px;
        top: 20px;
    }

    #aboutSessions{
        left: 10px;
        top: 25px;
    }

    #ClanderAndTimmingsBox{
        left: 10px;
        top: 40px;
        width: 400px;
    }
    
    #calenderTable{
        width: 380px;
    }
    #timmingsTable{
        top: 10px;
        right: 0px;
        width: 380px;
    }

    #trainingBox{
        height: 1350px;
        top: 50px;
    }

    #trainingText{
        top: 15px;
    }
    #trainingIntroQues{
        top: 40px;
        padding: 0 15px;
    }

    #stepsOfOnlineTraining{
        padding: 0px;
        top: 80px;
        height: 1100px;
    }

    #stepsOfOnlineTraining li h2{
        width: 370px;
        left: 35px;
    }
    #stepsOfOnlineTraining li p{
        width: 365px;
        left: 35px;
    }





    #testimonialsSection{
        width: 400px;
        height: 500px;
        top: 0px;
        left: 8px;
    }
    #reviewBox{
        width: 390px;
        top: 70px;
        left: 5px;
    }

    #quoteIcon{
       width: 50px;
       height: 50px;
       left: 5px; 
    }

    #BoxForwhiteLeftArrow{
        width: 2rem;
        height: 2.5rem;
        top: 70px;
        left: 0px;
    }

    #leftWhiteArrow{
        top: 6px;
        width: 30px;
        height: 30px;
    }

    #review{
        width: 300px;
        bottom:40px;
        left: 60px;
        line-height: 20px;
    }

    #BoxForwhiteRightArrow{
        width: 2rem;
        height: 2.5rem;
        left: 360px;
        top: -130px;
    }
    #rightWhiteArrow{
        top: 6px;
        width: 30px;
        height: 30px;
    }

    #nameOfReviewer{
        bottom: 60px;
    }
    #fiveStarRating{
        bottom: 60px;
        left: 160px;
    }
    #reviewerImage{
        bottom: 60px;
        left: 150px;
    }
    
    #reverseQuoteIcon{
        width: 50px;
        height: 50px;
        left: 340px;
        bottom: 200px;
    }





    #downloadAppSection{
        position: relative;
        top: 50px;
        width: 400px;
        height: 765px;
    }
    #downloadAppSection h1{
        top: 20px;
        width: 24rem;
        left: 20px;
    }
    #aboutApp{
        top: 50px;
        left: 20px;
        width: 360px;
    }
    #appLinkForDifferentOS{
        top: 80px;
        left: 15px;
        width: 390px;
    }
    #playstoreIcon, #appleIcon{
        left: 2px;
        width: 40px;
        height: 40px;
        top: 12px;
    }
    #androidBox div, #iosBox div{
        bottom: 30px;
        width: 100px;
        left: 50px;
    }
    #androidBox h2, #iosBox h2{
        position: relative;
        width: 130px;
        bottom: 30px;
        left: 45px;
    }
    #phoneImage{
        width: 320px;
        height: 350px;
        top: 100px;
        left: 50px;
    }
    footer{
        position: relative;
        top: -350px;
        left: 5px;
        width: 405px;
        height: 5rem;
    }
}





@media screen and (max-width: 391px) {

    #logo{
        width: 390px;
        left: 0;
        text-align: center;
        height: 50%;
        top: 25px;
    }

    #navBar{
        width: 390px;
        gap: 30px;
        left: 0px;
        top: 30px;
        padding: 0;
        white-space: nowrap;
        justify-content: flex-start;
        overflow-y: scroll;
    }
    #navBar::-webkit-scrollbar{
        display: none;
    }


    main{
        width: 390px;
        height: 5650px;
        position: relative;
        top: 50px;
    }
    #dietitianSlotBookingSection{
        display: block;
        width: 390px;
        height: 2820px;
    }




    #dietitianMainBox{
        width: 389px;
        height: 730px;
        left: 0px;
    }

    #aboutAndPriceOfDietitian{
        height: 338px;
    }

    #aboutDietitian{
        height: 17rem;
    }

    #priceAndMsgCoachBtn{
        width: 350px;
        top: 4px;
        left: 18px;
    }

    #morePricing{
        position: relative;
        bottom: 10px;
    }
    #msgBtn{
        position: relative;
        left: 70px;
        top: 0;
    }

    #videoMainBox{
        top: 5px;
    }

    #navOfVideos{
        margin-bottom: 10px;
    }

    #videoGallery{
        gap: 10px;
    }
    #videoGallery div{
        position: relative;
        left: 10px;
    }
    #videoGallery div video{
        width: 175px;
    }
    #videoGallery div p{
        width: 170px;
    }




    #SlotAndTrainingMainBox{
        width: 389px;
        height: 2090px;
        left: 0px;
        top: 20px;
    }

    #SlotBookingBox{
        width: 388px;
        height: 640px;
    }

    #aboutTimeZone{
        width: 300px;
        left: 10px;
        top: 10px;
    }

    #aboutSessions{
        left: 10px;
        top: 15px;
    }

    #ClanderAndTimmingsBox{
        width: 350px;
        left: 10px;
        top: 20px;
    }

    #calenderTable{
        width: 360px;
    }

    #timmingsTable{
        top: 2px;
        right: 0px;
        width: 360px;
    }

    #trainingBox{
        height: 1450px;
        top: 45px;
    }

    #trainingText{
        top: 15px;
    }
    #trainingIntroQues{
        top: 20px;
    }

    #stepsOfOnlineTraining{
        padding: 0px;
        top: 35px;
        height: 1180px;
    }

    #stepsOfOnlineTraining li h2{
        width: 340px;
        left: 35px;
    }
    #stepsOfOnlineTraining li p{
        width: 340px;
        left: 35px;
    }





    #testimonialsSection{
        display: block;
        width: 389px;
        height: 450px;
        top: 150px;
        z-index: 100;
        left: 2px;
    }
    #reviewBox{
        width: 375px;
        top: 50px;
        left: 5px;
    }

    #quoteIcon{
       width: 40px;
       height: 40px;
       left: 5px; 
    }

    #BoxForwhiteLeftArrow{
        width: 2rem;
        height: 2.5rem;
        top: 70px;
        left: 0px;
    }

    #leftWhiteArrow{
        top: 6px;
        width: 30px;
        height: 30px;
    }

    #review{
        width: 270px;
        bottom:40px;
        left: 55px;
        line-height: 18px;
    }

    #BoxForwhiteRightArrow{
        width: 2rem;
        height: 2.5rem;
        left: 342px;
        top: -130px;
    }
    #rightWhiteArrow{
        top: 6px;
        width: 30px;
        height: 30px;
    }

    #nameOfReviewer{
        bottom: 50px;
    }
    #fiveStarRating{
        bottom: 50px;
        left: 155px;
    }
    #reviewerImage{
        bottom: 50px;
        left: 150px;
    }
    
    #reverseQuoteIcon{
        width: 40px;
        height: 40px;
        left: 330px;
        bottom: 220px;
    }





    #downloadAppSection{
        position: relative;
        top: 160px;
        width: 389px;
        height: 670px;
    }
    #downloadAppSection h1{
        width: 350px;
        top: 20px;
        left: 20px;
    }
    #aboutApp{
        top: 50px;
        left: 20px;
        width: 350px;
    }
    #appLinkForDifferentOS{
        top: 80px;
        left: 5px;
        width: 355px;
    }
    #playstoreIcon, #appleIcon{
        left: 2px;
        width: 35px;
        height: 35px;
        top: 12px;
    }
    #androidBox div, #iosBox div{
        bottom: 30px;
        left: 40px;
    }
    #androidBox h2, #iosBox h2{
        position: relative;
        width: 130px;
        bottom: 30px;
        left: 35px;
    }
    #phoneImage{
        width: 280px;
        height: 200px;
        top: 100px;
        left: 60px;
    }
    footer{
        width: 382px;
        height: 5rem;
        top: -1550px;
    }
}






@media screen and (max-width: 376px) {

    #logo{
        width: 355px;
        left: 0;
        text-align: center;
        height: 50%;
        top: 25px;
    }

    #navBar{
        width: 355px;
        gap: 30px;
        left: 0px;
        top: 30px;
        padding: 0;
        white-space: nowrap;
        justify-content: flex-start;
        overflow-y: scroll;
    }
    #navBar::-webkit-scrollbar{
        display: none;
    }


    main{
        width: 355px;
        height: 4500px;
    }
    #dietitianSlotBookingSection{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 355px;
        height: 3100px;
        position: relative;
        top: 40px;
    }




    #dietitianMainBox{
        width: 355px;
        height: 730px;
        top: 0;
        left: 0px;
    }

    #aboutAndPriceOfDietitian{
        height: 338px;
        width: 375px;
    }

    #aboutDietitian{
        height: 17rem;
        width: 375px;
    }

    #priceAndMsgCoachBtn{
        width: 350px;
        top: 4px;
        left: 18px;
    }

    #morePricing{
        position: relative;
        bottom: 10px;
    }
    #msgBtn{
        position: relative;
        left: 60px;
        top: 0;
    }

    #videoMainBox{
        top: 5px;
    }

    #navOfVideos{
        margin-bottom: 10px;
    }

    #videoGallery{
        gap: 10px;
    }
    #videoGallery div{
        position: relative;
        left: 4px;
    }
    #videoGallery div video{
        width: 170px;
    }
    #videoGallery div p{
        width: 170px;
    }




    #SlotAndTrainingMainBox{
        width: 355px;
        height: 2090px;
        left: 0px;
        top: 20px;
    }

    #SlotBookingBox{
        width: 355px;
        height: 660px;
    }

    #aboutTimeZone{
        width: 300px;
        left: 10px;
        top: 20px;
    }

    #aboutSessions{
        left: 10px;
        top: 25px;
    }

    #ClanderAndTimmingsBox{
        left: 10px;
        top: 30px;
        width: 350px;
    }
    
    #calenderTable{
        width: 340px;
    }
    #timmingsTable{
        top: 10px;
        right: 0px;
        width: 340px;
    }

    #trainingBox{
        height: 1650px;
        top: 20px;
    }

    #trainingText{
        top: 15px;
    }
    #trainingIntroQues{
        top: 40px;
    }

    #stepsOfOnlineTraining{
        padding: 0px;
        top: 80px;
        height: 1300px;
    }

    #stepsOfOnlineTraining li h2{
        width: 315px;
        left: 35px;
    }
    #stepsOfOnlineTraining li p{
        width: 310px;
        left: 35px;
    }





    #testimonialsSection{
        width: 360px;
        height: 500px;
        top: 80px;
        z-index: 100;
        left: 2px;
    }
    #reviewBox{
        width: 345px;
        top: 70px;
        left: 5px;
    }

    #quoteIcon{
       width: 40px;
       height: 40px;
       left: 5px; 
    }

    #BoxForwhiteLeftArrow{
        width: 2rem;
        height: 2.5rem;
        top: 70px;
        left: 0px;
    }

    #leftWhiteArrow{
        top: 6px;
        width: 30px;
        height: 30px;
    }

    #review{
        width: 250px;
        bottom:40px;
        left: 55px;
        line-height: 18px;
    }

    #BoxForwhiteRightArrow{
        width: 2rem;
        height: 2.5rem;
        left: 312px;
        top: -150px;
    }
    #rightWhiteArrow{
        top: 6px;
        width: 30px;
        height: 30px;
    }

    #nameOfReviewer{
        bottom: 60px;
    }
    #fiveStarRating{
        bottom: 60px;
        left: 145px;
    }
    #reviewerImage{
        bottom: 60px;
        left: 138px;
    }
    
    #reverseQuoteIcon{
        width: 40px;
        height: 40px;
        left: 300px;
        bottom: 230px;
    }





    #downloadAppSection{
        position: relative;
        top: 100px;
        width: 355px;
        height: 765px;
    }
    #downloadAppSection h1{
        top: 20px;
        width: 20rem;
        left: 20px;
    }
    #aboutApp{
        top: 50px;
        left: 20px;
        width: 333px;
    }
    #appLinkForDifferentOS{
        top: 80px;
        left: 5px;
        width: 345px;
    }
    #playstoreIcon, #appleIcon{
        left: 2px;
        width: 30px;
        height: 30px;
        top: 12px;
    }
    #androidBox div, #iosBox div{
        bottom: 20px;
        width: 100px;
        left: 40px;
    }
    #androidBox h2, #iosBox h2{
        position: relative;
        width: 130px;
        bottom: 20px;
        left: 30px;
    }
    #phoneImage{
        width: 280px;
        height: 200px;
        top: 100px;
        left: 40px;
    }
    footer{
        position: relative;
        top: -100px;
        left: 5px;
        width: 365px;
    }
}





@media screen and (max-width: 361px) {

    #logo{
        width: 355px;
        left: 0;
        text-align: center;
        height: 50%;
        top: 25px;
    }

    #navBar{
        width: 355px;
        gap: 30px;
        left: 0px;
        top: 30px;
        padding: 0;
        white-space: nowrap;
        justify-content: flex-start;
        overflow-y: scroll;
    }
    #navBar::-webkit-scrollbar{
        display: none;
    }


    main{
        width: 355px;
        height: 4400px;
    }
    #dietitianSlotBookingSection{
        flex-direction: column;
        flex-wrap: nowrap;
        width: 355px;
        height: 3100px;
        position: relative;
        top: 40px;
    }




    #dietitianMainBox{
        width: 355px;
        height: 730px;
        top: 0;
        left: 0px;
    }

    #aboutAndPriceOfDietitian{
        height: 338px;
        width: 355px;
    }

    #aboutDietitian{
        height: 17rem;
        width: 355px;
    }

    #priceAndMsgCoachBtn{
        width: 350px;
        top: 4px;
        left: 18px;
    }

    #morePricing{
        position: relative;
        bottom: 10px;
    }
    #msgBtn{
        position: relative;
        left: 60px;
        top: 0;
    }

    #videoMainBox{
        top: 5px;
    }

    #navOfVideos{
        margin-bottom: 10px;
    }

    #videoGallery{
        gap: 10px;
    }
    #videoGallery div{
        position: relative;
        left: 4px;
    }
    #videoGallery div video{
        width: 170px;
    }
    #videoGallery div p{
        width: 170px;
    }




    #SlotAndTrainingMainBox{
        width: 355px;
        height: 2090px;
        left: 0px;
        top: 20px;
    }

    #SlotBookingBox{
        width: 355px;
        height: 660px;
    }

    #aboutTimeZone{
        width: 300px;
        left: 10px;
        top: 20px;
    }

    #aboutSessions{
        left: 10px;
        top: 25px;
    }

    #ClanderAndTimmingsBox{
        left: 10px;
        top: 30px;
        width: 350px;
    }
    
    #calenderTable{
        width: 340px;
    }
    #timmingsTable{
        top: 10px;
        right: 0px;
        width: 340px;
    }

    #trainingBox{
        height: 1650px;
        top: 20px;
    }

    #trainingText{
        top: 15px;
    }
    #trainingIntroQues{
        top: 40px;
    }

    #stepsOfOnlineTraining{
        padding: 0px;
        top: 80px;
        height: 1300px;
    }

    #stepsOfOnlineTraining li h2{
        width: 315px;
        left: 35px;
    }
    #stepsOfOnlineTraining li p{
        width: 310px;
        left: 35px;
    }





    #testimonialsSection{
        width: 360px;
        height: 500px;
        top: 80px;
        z-index: 100;
        left: 2px;
    }
    #reviewBox{
        width: 345px;
        top: 70px;
        left: 5px;
    }

    #quoteIcon{
       width: 40px;
       height: 40px;
       left: 5px; 
    }

    #BoxForwhiteLeftArrow{
        width: 2rem;
        height: 2.5rem;
        top: 70px;
        left: 0px;
    }

    #leftWhiteArrow{
        top: 6px;
        width: 30px;
        height: 30px;
    }

    #review{
        width: 250px;
        bottom:40px;
        left: 55px;
        line-height: 18px;
    }

    #BoxForwhiteRightArrow{
        width: 2rem;
        height: 2.5rem;
        left: 312px;
        top: -150px;
    }
    #rightWhiteArrow{
        top: 6px;
        width: 30px;
        height: 30px;
    }

    #nameOfReviewer{
        bottom: 60px;
    }
    #fiveStarRating{
        bottom: 60px;
        left: 145px;
    }
    #reviewerImage{
        bottom: 60px;
        left: 138px;
    }
    
    #reverseQuoteIcon{
        width: 40px;
        height: 40px;
        left: 300px;
        bottom: 230px;
    }





    #downloadAppSection{
        position: relative;
        top: 100px;
        width: 355px;
        height: 765px;
    }
    #downloadAppSection h1{
        top: 20px;
        width: 20rem;
        left: 20px;
    }
    #aboutApp{
        top: 50px;
        left: 20px;
        width: 333px;
    }
    #appLinkForDifferentOS{
        top: 80px;
        left: 5px;
        width: 345px;
    }
    #playstoreIcon, #appleIcon{
        left: 2px;
        width: 30px;
        height: 30px;
        top: 12px;
    }
    #androidBox div, #iosBox div{
        bottom: 20px;
        width: 100px;
        left: 40px;
    }
    #androidBox h2, #iosBox h2{
        position: relative;
        width: 130px;
        bottom: 20px;
        left: 30px;
    }
    #phoneImage{
        width: 280px;
        height: 200px;
        top: 100px;
        left: 40px;
    }
    footer{
        position: relative;
        top: -30px;
        left: 5px;
        width: 352px;
    }
}





@media screen and (max-width: 345px) {

    #logo{
        width: 345px;
        left: 0;
        text-align: center;
        height: 50%;
        top: 25px;
    }

    #navBar{
        width: 345px;
        gap: 30px;
        left: 0px;
        top: 30px;
        padding: 0;
        white-space: nowrap;
        justify-content: flex-start;
        overflow-y: scroll;
    }
    #navBar::-webkit-scrollbar{
        display: none;
    }


    main{
        width: 345px;
        height: 5150px;
    }
    #dietitianSlotBookingSection{
        flex-direction: column;
        width: 345px;
        height: 3200px;
        position: relative;
        top: 40px;
    }




    #dietitianMainBox{
        width: 345px;
        height: 730px;
        top: 0;
        left: 0px;
    }

    #aboutAndPriceOfDietitian{
        height: 338px;
        width: 345px;
    }

    #aboutDietitian{
        height: 17rem;
        width: 345px;
    }

    #priceAndMsgCoachBtn{
        width: 330px;
        top: 4px;
        left: 18px;
    }

    #morePricing{
        position: relative;
        bottom: 10px;
    }
    #msgBtn{
        position: relative;
        left: 50px;
        top: 0;
    }

    #videoMainBox{
        top: 5px;
    }

    #navOfVideos{
        width: 345px;
        gap: 45px;
        margin-bottom: 10px;
    }

    #videoGallery{
        gap: 5px;
    }
    #videoGallery div{
        position: relative;
        left: 25px;
    }
    #videoGallery div video{
        width: 300px;
    }
    #videoGallery div p{
        width: 170px;
        margin-bottom: 10px;
    }




    #SlotAndTrainingMainBox{
        width: 345px;
        height: 2090px;
        left: 0px;
        top: 400px;
    }

    #SlotBookingBox{
        width: 345px;
        height: 660px;
    }

    #aboutTimeZone{
        width: 300px;
        left: 10px;
        top: 20px;
    }

    #aboutSessions{
        left: 10px;
        top: 25px;
    }

    #ClanderAndTimmingsBox{
        left: 10px;
        top: 30px;
        width: 335px;
    }
    
    #calenderTable{
        width: 330px;
    }
    #timmingsTable{
        top: 10px;
        right: 0px;
        width: 330px;
    }

    #trainingBox{
        height: 1600px;
        top: 20px;
    }

    #trainingText{
        top: 15px;
    }
    #trainingIntroQues{
        top: 40px;
    }

    #stepsOfOnlineTraining{
        padding: 0px;
        top: 80px;
        height: 1300px;
    }

    #stepsOfOnlineTraining li h2{
        width: 305px;
        left: 35px;
    }
    #stepsOfOnlineTraining li p{
        width: 310px;
        left: 35px;
    }





    #testimonialsSection{
        width: 345px;
        height: 500px;
        top: 300px;
        left: 2px;
    }
    #reviewBox{
        width: 335px;
        top: 70px;
        left: 5px;
    }

    #quoteIcon{
       width: 40px;
       height: 40px;
       left: 5px; 
    }

    #BoxForwhiteLeftArrow{
        width: 2rem;
        height: 2.5rem;
        top: 70px;
        left: 0px;
    }

    #leftWhiteArrow{
        top: 6px;
        width: 30px;
        height: 30px;
    }

    #review{
        width: 250px;
        bottom:40px;
        left: 55px;
        line-height: 18px;
    }

    #BoxForwhiteRightArrow{
        width: 2rem;
        height: 2.5rem;
        left: 305px;
        top: -150px;
    }
    #rightWhiteArrow{
        top: 6px;
        width: 30px;
        height: 30px;
    }

    #nameOfReviewer{
        bottom: 60px;
    }
    #fiveStarRating{
        bottom: 60px;
        left: 135px;
    }
    #reviewerImage{
        bottom: 60px;
        left: 128px;
    }
    
    #reverseQuoteIcon{
        width: 40px;
        height: 40px;
        left: 280px;
        bottom: 230px;
    }





    #downloadAppSection{
        position: relative;
        top: 300px;
        width: 345px;
        height: 765px;
    }
    #downloadAppSection h1{
        top: 20px;
        width: 20rem;
        left: 20px;
    }
    #aboutApp{
        top: 50px;
        left: 20px;
        width: 303px;
    }
    #appLinkForDifferentOS{
        top: 80px;
        left: 5px;
        width: 330px;
    }
    #playstoreIcon, #appleIcon{
        left: 8px;
        width: 35px;
        height: 35px;
        top: 12px;
    }
    #androidBox div, #iosBox div{
        bottom: 20px;
        width: 100px;
        left: 45px;
    }
    #androidBox h2, #iosBox h2{
        position: relative;
        font-size: larger;
        width: 110px;
        bottom: 20px;
        left: 45px;
    }
    #phoneImage{
        width: 280px;
        height: 300px;
        top: 100px;
        left: 40px;
    }
    footer{
        position: relative;
        top: -300px;
        left: 5px;
        width: 340px;
    }
}
